.see-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: auto;
  margin-top: 120px;
  width: 80rem;
  margin-bottom: 250px;
}

.product-name-see-tablet {
  display: none;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 280px;
  max-height: 280px;
}

.image-container-see {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 280px;
  max-height: 280px;
}

.image-see {
  width: 90%;
  object-fit: fill;
  margin-bottom: 20px;
}

.data {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
}

.data h1 {
  margin-bottom: 20px;
  margin-left: 20px;
}

.product-price {
  font-size: 30px;
  margin-bottom: 20px;
}

.see-description {
  margin-left: 20px;
  height: auto;
  width: 15rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.buy {
  align-self: flex-end;
  width: 90%;
  font-size: 20px;
}

.buy-link {
  font-size: 20px;
}

.buy p {
  color: var(--seventh-color);
  margin-left: 10px;
}

@media screen and (min-width: 450px) and (max-width: 690px) {
  .see-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin-top: 120px;
    width: 80rem;
  }

  .product-name-see-desktop {
    display: none;
  }

  .product-name-see-tablet {
    display: block;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 90%;
    max-height: 90%;
  }

  .image-container-see {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 90%;
    max-height: 90%;
  }

  .image-see {
    width: 90%;
    object-fit: fill;
    margin-bottom: 20px;
  }

  .data {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .data h1 {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .product-price {
    font-size: 30px !important;
    margin-bottom: 20px !important;
  }

  .see-description {
    margin-left: 20px;
    margin-top: 50px;
    font-size: 19px !important;
    width: 25rem;
  }

  .buy {
    align-self: flex-start;
    width: 50%;
    font-size: 20px;
  }

  .buy-link {
    font-size: 20px;
  }

  .buy p {
    color: var(--seventh-color);
    margin-left: 10px;
  }

  .invoice-movil {
    width: 90%;
    font-size: 30px;
    margin-bottom: 600px;
  }
}

@media screen and (min-width: 270px) and (max-width: 450px) {
  .see-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 95%;
    margin-top: 10px;
    margin-left: 25px;
  }

  .product-name-see-desktop {
    display: none;
  }

  .product-name-see-tablet {
    display: block;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size:17px
  }

  .image-container-see {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 90%;
    max-height: 90%;
  }

  .data {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .product-price {
    font-size: 20px !important;
    height: 30px;
    margin-bottom: 20px;
  }

  .see-description {
    margin-top: 10px;
    font-size: 15px !important;
  }
}
