* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.hide-vertical-scrollbar {
  overflow: hidden !important;
}

.darkening{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  z-index: 2;
  opacity: 0.5;
}

:root {
  
  font-family: "Work Sans", sans-serif;
  --first-color: #f9f9f9;
  --first-color-one: #cecece;
  --second-color: #f5f8f6;
  --third-color: #df8668;
  --third-color-dark: #c84613;
  --fourth-color: #946a5a;
  --sixth-color: #f1bf3a;
  --seventh-color: #6c6c6c;
  --seventh-color-one: #656565;
  --seventh-color-light: #4fa988;
  --eighth-color: #38957b;
  --eighth-color-light: #7ca5d4;
}

a {
  color: var(--seventh-color);
  font-weight: 400;
}

ul {
  list-style: none;
  padding-right: 30px;
}

.hide-scroll {
  overflow: hidden !important;
}

.show {
  display: block !important;
}

.link-hover {
  padding: 0;
  margin: 10px;
}

.link-hover:hover {
  border-bottom: solid var(--sixth-color) 4px;
}

table {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid var(--first-color);
}

td {
  border-top: 1px solid var(--first-color);
  padding: 2px;
}

td a {
  color: var(--seventh-color);
}

.wrapper{
  padding: 20px;
  margin: 0 auto;
}

.header {
  border-bottom: solid var(--first-color) 1px;
  background-color: var(--second-color);
  height: auto;
}

.central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 95%;
}

.strip{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.strip .logo-mobile-form {
  display: none;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1200px;
  height: 600px;
}

.slider {
  width: 100%;
}

.slider ul,
li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider li img {
  display: block;
  width: 1100px;
}

.arrow {
  display: flex;
  width: auto;
  align-items: center;
  color: var(--seventh-color);
  font-size: 45px;
  cursor: pointer;
  z-index: 1;
}

.pagination-wrapper {
  height: 100px;
  width: auto;
  margin-top: 50px;
}

.pagination-numbers {
  color: var(--seventh-color);
  width: auto;
  font-size: 20px;
  overflow-x: hidden;
}

.products-container {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
  margin-left: 5px;
  margin-right: 5px;
  border: solid var(--first-color) 1px;
  border-radius: 10px;
}

.product-preview {
  width: 285px;
  height: 320px;
}

.product-name-desktop {
  display: none;
}

.product-name {
  display: block;
  font-weight: 500;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--seventh-color);
}

.product .description {
  display: none;
}

.product-preview .price {
  display: flex;
  margin-left: 25px;
  font-size: 25px;
  color: var(--seventh-color);
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-top {
  margin-top: 0;
}

.spacing {
  margin-bottom: 400px !important;
}

.empty {
  height: 700px;
}

.updown-unities {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  width: 450px;
  flex-direction: column;
  height: auto;
  border: solid var(--first-color-one) 1px;
  border-radius: 5px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 35px;
}

form input {
  border: solid var(--first-color-one) 1px;
  height: 35px;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
  font-size: 16px;
  padding-left: 20px;
}

form textarea {
  border: solid var(--first-color-one) 1px;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
  font-size: 16px;
  padding-top: 15px;
  padding-left: 20px;
}

form label {
  margin: 5px;
}

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: var(--seventh-color-light);
  width: auto;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--first-color);
  text-align: center;
  border-radius: 5px;
}

.button-close{
  background-color: var(--first-color-one);
  border: none;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 5px;
}

.button-close:hover{
  background-color: var(--first-color-one);
  border: 1px solid var(--third-color);
}

.button-submit {
  margin-top: 30px;
  width: 94px;
}

.adjust-size {
  width: 80px;
  margin: 10px;
}

.button:hover {
  background-color: var(--eighth-color);
}

.link-button {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--seventh-color);
  width: auto;
  height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.link-button:hover {
  background-color: var(--seventh-color-one);
}

.warning {
  background-color: var(--third-color-dark);
}

.warning:hover {
  background-color: var(--third-color);
}

.image {
  width: 90%;
  object-fit: fill;
}

.acount {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
}

.acount-options {
  color: var(--seventh-color);
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 18px;
}

@media screen and (min-width: 575px) and (max-width: 1550px) {
  .slider-container {
    width: 1000px;
    height: 509px;
  }

  .slider li img {
    width: 900px;
  }
}

@media screen and (min-width: 830px) and (max-width: 1025px) {
  .slider li img {
    width: 600px;
  }

  .product {
    width: 90%;
    height: auto;
    flex-direction: column !important;
  }

  .description-container {
    display: flex;
  }

  .product-preview {
    height: auto;
  }

  .product .description {
    display: block;
    width: 500px;
    height: 55px;
    margin-left: 25px;
    color: var(--seventh-color);
    overflow: hidden;
  }
}

@media screen and (min-width: 550px) and (max-width: 830px) {
  .strip {
    height: 70px;
    display: flex;
    justify-content: center;
  }

  .strip .logo-mobile-form {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 35px;
  }

  form input {
    border: solid var(--first-color-one) 1px;
    height: 35px;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    font-size: 16px;
    padding-left: 20px;
  }

  form label {
    margin: 5px;
  }
}
@media screen and (min-width: 270px) and (max-width: 550px) {
  .central p {
    font-size: 10px;
  }

  .strip {
    height: 70px !important;
    align-items: center;
  }

  .strip .logo-mobile-form {
    display: block;
    margin-bottom: 10px;
  }

  .strip .logo-desktop-form {
    display: none;
  }

  .form-container {
    width: 60%;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
  }

  form input {
    border: solid var(--first-color-one) 1px;
    height: 25px;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
    font-size: 10px;
    padding-left: 10px;
  }

  form label {
    font-size: 10px;
  }
}

@media screen and (min-width: 830px) and (max-width: 1025px) {
  .central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }

  .empty {
    height: 80rem;
  }

  .navigation {
    width: 100%;
  }

  .slider-container {
    width: 800px;
    height: 309px;
  }

  .slider li img {
    width: 600px;
  }

  .product {
    width: 90%;
    height: auto;
    flex-direction: column !important;
  }

  .description-container {
    display: flex;
    width: 100%;
  }

  .product-preview {
    width: 90%;
    height: 90%;
  }

  .product .description {
    display: block;
    width: 250px;
    height: 60%;
  }

  .image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 90vh;
    max-height: auto;
  }

  .image {
    width: 90%;
    object-fit: fill;
  }

  .title-movil {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .title-movil-three {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .button {
    align-self: center;
    margin-top: 50px;
    background-color: var(--seventh-color-light);
    width: auto;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
  }

  .button-submit {
    margin-top: 30px;
    width: 94px;
    height: 30px;
  }

  .button {
    height: 30px;
  }

  .adjust-size {
    width: 80px;
    margin: 10px;
    height: 30px;
  }

  .button:hover {
    background-color: var(--eighth-color);
  }

  .warning {
    background-color: var(--third-color-dark);
  }

  .warning:hover {
    background-color: var(--third-color);
  }
}

@media screen and (min-width: 0px) and (max-width: 830px) {
  html {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

  .title {
    margin-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .slider-container {
    display: none;
  }

  .slider li img {
    display: none;
  }

  .product {
    width: 90%;
    height: auto;
    flex-direction: column !important;
  }

  .description-container {
    display: flex;
    width: 300px;
  }

  .description-container a {
    padding: 0;
  }

  .image-container {
    width: 50%;
  }

  .image {
    width: 130px;
  }

  .product-preview {
    height: auto;
  }

  .product .description {
    display: block;
    width: 200px;
    height: 50px;
    margin-left: 0;
    overflow: hidden;
  }

  .product-preview {
    width: 100%;
    height: auto;
    margin-left: 20px;
  }

  .product-preview .product-name {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .product-preview .description {
    width: 300px;
    height: 55px;
    margin-left: 0;
    color: var(--seventh-color);
    display: flex;
    flex-wrap: wrap;
  }

  .product-preview .price {
    font-size: 2vh;
    margin-left: 0;
    margin-top: 30px;
  }
}

@media screen and (min-width: 270px) and (max-width: 550px) {
  .product-preview .description {
    width: 100px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    background-color: var(--seventh-color-light);
    width: auto;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--first-color);
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
  }

  .button-submit {
    margin-top: 30px;
    width: 76px;
  }

  .adjust-size {
    width: 60px;
    margin: 10px;
  }

  .button:hover {
    background-color: var(--eighth-color);
  }

  .link-button {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--seventh-color);
    width: auto;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
  }

  .link-button:hover {
    background-color: var(--seventh-color-one);
  }

  .warning {
    background-color: var(--third-color-dark);
  }

  .warning:hover {
    background-color: var(--third-color);
  }

  .image-cart {
    width: 80px;
    object-fit: fill;
  }

  .acount-options {
    font-size: 18px !important;
  }
}
