.menu-icon {
  display: none;
}

.menu-icon-deployed {
  display: none;
}

.user {
  display: flex;
  align-items: center;
  height: 95px;
}

.in-icon {
  padding-left: 20px;
  padding-right: 20px;
}

.in-icon #in_icon {
  cursor: pointer;
}

.user-account {
  display: flex;
  position: absolute;
  color: var(--seventh-color);
  flex-direction: column;
  top: 0px;
  right: -700px;
  z-index: 2;
  padding: 10px;
  height: 100%;
  width: 400px;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
}

.open-user-menu {
  right: 0;
}

.user-account .options {
  color: var(--seventh-color);
  padding: 20px;
}

.close-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.user-account .user-name {
  color: var(--seventh-color);
  font-size: 25px;
  padding: 20px;
}

.close-session-button {
  margin: 0 auto;
  width: 200px;
  height: 40px;
  align-self: center;
  color: var(--first-color);
}

.admin-icon {
  padding-left: 20px;
  padding-right: 20px;
}

.admin-icon #admin {
  cursor: pointer;
}

.user-in {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 400px;
}

.navigation {
  width: 100%;
}

.menu-right {
  margin-right: 130px;
}

.menu-deploy-right {
  display: none;
}

.user-panel {
  display: flex;
  flex-direction: row;
  width: 250px;
}

.user-panel ul {
  padding: 0;
  margin-top: 17px;
}

.cart-icon {
  padding-left: 20px;
  padding-right: 20px;
}

.cart-icon #cart {
  cursor: pointer;
}

.cart-menu {
  display: none;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  z-index: 2;
  top: 70px;
  right: 50px;
  background-color: var(--seventh-color-one);
  border-radius: 10px;
}

.cart-menu p {
  font-weight: 500;
  padding: 5px;
  color: var(--first-color-one);
}

.setting-icon {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--sixth-color);
  border-radius: 5px;
  width: 120px;
  height: 50px;
  text-align: center;
}

.admin-menu {
  display: none;
  position: absolute;
  z-index: 1;
  height: auto;
  left: 0;
  width: 100%;
  top: 130px;
  background-color: var(--first-color);
  border: solid var(--first-color-one) 1px;
}

.admin-menu a {
  display: block;
  padding: 10px;
}

.admin-menu p {
  color: var(--seventh-color);
}

.admin-menu .option {
  display: block;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-left: 50px;
  height: 130px;
}

.menu-left {
  width: 70%;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-left: 50px;
  cursor: pointer;
}

.logo-container .logo-mobile {
  display: none;
}

.home-button {
  position: relative;
  margin: 15px;
}

.home-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 25px;
  width: 0;
  height: 2.5px;
  background-color: var(--third-color);
  transition: width 0.2s ease;
}

.home-button:hover::before {
  width: 100%;
}

.categories {
  display: flex;
  margin-left: 50px;
  border-top: solid var(--first-color-one) 1px;
}

.categories-button {
  position: relative;
  margin: 15px;
}

.categories-button::before {
  content: "";
  position: absolute;
  top: 25px;
  bottom: 0;
  width: 0;
  height: 2.5px;
  background-color: var(--third-color);
  transition: width 0.3s ease;
}

.categories-button:hover::before {
  width: 100%;
}

.categories-menu-check {
  position: absolute;
  z-index: -999;
  top: 0;
}

@media screen and (min-width: 720px) and (max-width: 1300px) {
  .header {
    height: 70px;
  }

  .navigation {
    width: 100%;
  }

  .menu {
    height: 70px;
    margin-left: 0;
  }

  .menu-left {
    width: auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-right .user {
    height: 70px;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px;
    height: 25px;
  }

  .menu-icon-deployed {
    display: block;
    align-self: flex-start;
    height: 25px;
    margin: 20px;
  }

  .filled {
    background-color: var(--seventh-color) !important;
    z-index: 3;
  }

  #close_menu {
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 2;
  }

  .logo-container {
    width: 70%;
    margin-left: 0;
  }

  .logo-container iframe {
    width: 500px;
  }

  .categories {
    display: flex;
    top: 0;
    position: fixed;
    flex-direction: column;
    left: -900px;
    z-index: 3;
    background-color: var(--first-color);
    height: 100vh;
    width: 70%;
    margin-left: 0px;
    transition: left 0.3s ease-in-out;
  }

  .show-categories {
    left: 0;
  }

  .special-margin-cart {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .categories-buttom {
    font-size: 3vh;
    height: 6vh;
    z-index: 3;
    color: var(--seventh-color);
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 50px;
    padding-bottom: 5px;
  }

  .categories-buttom:hover {
    border-bottom: solid var(--sixth-color) 4px;
  }

  .in-icon {
    height: 30px;
  }

  .cart-icon {
    height: 30px;
  }

  .admin-icon {
    height: 30px;
  }

  .admin-menu {
    display: none;
    position: absolute;
    z-index: 1;
    height: auto;
    left: 0;
    width: 100%;
    top: 70px;
    background-color: var(--first-color);
    border: solid var(--first-color-one) 1px;
  }

  .admin-menu ul {
    font-size: 1.5vh;
  }

  .user-in .user-panel ul li {
    font-size: 23px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 270px) and (max-width: 720px) {
  .header {
    height: 70px;
  }

  .navigation {
    width: 100%;
  }

  .menu {
    margin-left: 0;
    height: 70px;
  }

  .menu-left {
    width: auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    height: 25px;
    margin: 20px;
  }

  .menu-icon-deployed {
    display: block;
    align-self: flex-start;
    height: 25px;
    margin: 20px;
  }

  .filled {
    background-color: var(--seventh-color) !important;
    width: 25px;
    z-index: 3;
  }

  #close_menu {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 2;
  }

  .logo-container {
    height: 40px;
    width: 60%;
    margin: 0;
  }

  .logo-container .logo-desktop {
    display: none;
  }

  .logo-container .logo-mobile {
    display: block;
  }

  .categories {
    display: flex;
    top: 0;
    position: fixed;
    flex-direction: column;
    left: -700px;
    z-index: 3;
    background-color: var(--first-color);
    height: 100vh;
    width: 70%;
    margin-left: 0px;
    transition: left 0.3s ease-in-out;
  }

  .show-categories {
    left: 0;
  }

  .categories-buttom {
    font-size: 2vh;
    height: 3vh;
    z-index: 3;
    color: var(--seventh-color);
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .menu-right {
    padding-top: 0;
    height: 70px;
    margin-right: 0;
  }

  .user {
    height: 70px;
  }

  .in-icon {
    height: 30px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .cart-icon {
    height: 30px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .admin-icon {
    height: 30px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .admin-menu {
    display: none;
    position: absolute;
    z-index: 1;
    height: auto;
    left: 0;
    width: 100%;
    top: 70px;
    background-color: var(--first-color);
    border: solid var(--first-color-one) 1px;
  }

  .user-account {
    display: flex;
    position: absolute;
    color: var(--seventh-color);
    flex-direction: column;
    top: 0px;
    right: -700px;
    z-index: 2;
    padding: 10px;
    height: 100%;
    width: 300px;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
  }

  .open-user-menu {
    right: 0;
  }

  .admin-menu ul {
    font-size: 1.5vh;
  }

  .user-in .user-panel ul li {
    font-size: 23px;
    margin-top: 5px;
  }
}
